@font-face{
    font-family: Boogaloo;
    src: url("./assets/fonts/Boogaloo-Regular.otf");
}

@font-face{
    font-family: Kalan-Light;
    src: url("./assets/fonts/Kalam-Light.ttf");
}

@font-face{
    font-family: Kalan-Regular;
    src: url("./assets/fonts/Kalam-Regular.ttf");
}

@font-face{
    font-family: Kalan-Bold;
    src: url("./assets/fonts/Kalam-Bold.ttf");
}


*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}

header{
    border: 2px solid transparent;
    border-radius: 30px 40px 0 0;
    background-color: rgb(80, 80, 80);

    h1{
        text-align: center;
        color: white;
        font-family: Boogaloo;
        font-size: 35px;
        padding: 5px;
        text-transform: uppercase;
    }
}

.container{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 0 0 40px 25px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.menulateral{
    width: 20%;
    border-right: 1px solid rgb(170, 170, 170);
    overflow: hidden;
    
    .menuheader{
        width: 100%;
        padding: 40px 20px 15px 35px;
        font-family: Kalan-Light;
        text-transform: uppercase;
    }
    
    .menu{
        width: 100%;
        .menuiten{

            .menulink{
                padding: 20px 20px 20px 35px;
                text-decoration: none;
                color: black;
                font-family: Kalan-Regular;
                display: block;
                width: 100%;
            }

            .menulink:hover{
                background-color: rgb(200, 200, 200);
            }
        }
    }
}

.conteudo{
    width: 80%;

    .cont-cont{
        margin: 30px 40px 40px 40px;

        .titulo{
            margin-bottom: 20px; 
            font-family: Kalan-Light;
            font-size: 30px;
            color: #303030;
            text-transform: uppercase;
        }

        .descricao{
            font-family: Kalan-Light;
            font-size: 20px;
            color: #303030;
        }

        .cont-imagem{
            margin-top: 60px;

            img{
                width: 90%;
            }
        }
    }
}