@font-face{
    font-family: Boogaloo;
    src: url("./assets/fonts/Boogaloo-Regular.otf");
}




*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}

header{
    border: 2px solid transparent;
    border-radius: 30px 40px 0 0;
    background-color: rgb(80, 80, 80);

    h1{
        text-align: center;
        color: white;
        font-family: Boogaloo;
        font-size: 35px;
        padding: 5px;
        text-transform: uppercase;
    }
}

.container{
    display: flex;
    flex-direction: row;
}

.menulateral{
    height: 100vh;
    width: 20%;
    background-color: aquamarine;
}

.conteudo{
    height: 100vh;
    width: 80%;
    background-color: beige;
}